body {
    margin: 0px 0px 40px 0px;
}

#topper {
    background-color: #343c24;
    height:380px;
}

img {
    width:325px;
    border-radius:500px;
    float:left;
    margin:10px 0px 0px 200px;
    border:5px solid #bca893;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin:0px 200px 0px 0px;
    text-align: left;
    padding:10px 20px 10px 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin:0px 200px 0px 0px;
    letter-spacing:2px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin:20px 200px 0px 200px;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin:10px 200px 0px 200px;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    background-color: #343c24;
    border-radius:10px;
    padding:10px 20px 10px 20px;
    text-align:center;
    border:none;
    margin: 20px 0px 0px 0px
}

button:hover {
    background-color: #bca893;
}

#button-container {
    text-align:center;
}