body {
    margin: 0px 0px 40px 0px;
}

topper {
    background-color: #343c24
    height:380px;
}

img {
    width:325px;
    border-radius:500px;
    float:left;
    margin:200px 0px 0px 200px;
    border:5px solid black;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin:0px 0px 0px 200px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: white;
    margin:0px 0px 0px 200px;
}

h3 {
    margin:1000px 0px 0px 200px;
}

p {
    margin:200px 0px 0px 200px
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    background-color: #343c24;
    padding: 10px 20px;
}

button:hover {
  
}

#button-container {
    text-align: middle;
}