/*
MY COLOR PALETTE
Color 1 - #582707
Color 2 - #972D07
Color 3 - #FF4B3E
Color 4 - #FFB20F
Color 5 - #FFE548
*/

    body {
        background-color:#582707; 
}

    button {
        background-color:#FF4B3E;
    color:#FFE548;
}

    button:hover {
        background-color:#FFB20F;
}

h1 {
    font-family: 'Abril_Fatface variant0', cursive;
    font-size: 30px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}
