/*font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

@media {
    

.container-fluid{
    background-color:#E5C687;
}

#topper {
    background-color:#2D4739;
    color:#E5C687;
}

.button{
    background-color:#E5C687;
    color:#2D4739;
    border-radius: 10px;
    font-size:20px;
}
    
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    
}
h2{
    color:#2D4739;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family:'Playfair Display', serif;   
    }
    
h4{
    font-family: 'Montserrat', sans-serif;
    font-size:70px;    
    }
    
    p{
    color:#2D4739;
    font-family:'Playfair Display', serif;
}

img { 
    width:100%;
    border-radius:50%;
}

p:last-child{
    margin-bottom:25px;
}
    
#footer {
    position:fixed;
    bottom:0px;
    background-color:#2D4739;
    color:#E5C687;
    padding:0px;
}
    
}

@media (min-width:576px){
    
#topper {
    background-color:#2D4739;
}

h1 {
    font-size:100px;
}
   
.button{
    background-color:#E5C687;
    color:#2D4739;
    border-radius: 10px;
    font-size:35px;
    
}